<section class="blogs" id="blogs">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12"><h1>Blogs</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-12 posts-list">
                {{ range first 3 (where .Data.Pages "Section" "blogs") }}
                    <article>
                        <h2><a href="{{ .Description }}">{{ .Title }}</a></h2>
			<p>{{ .Summary }}</p>
                    </article>
                {{ end }}
            </div>
        </div>
    </div>
</section>
