.projects h3 {
  margin: 0 0 2rem;
  font-family: Rubik,Poppins,"Hel­vetica",Arial,sans-serif;
}

.blogs {
  min-height: 100vh;
}

.blogs h3 {
  margin: 0 0 2rem;
  font-family: Rubik,Poppins,"Hel­vetica",Arial,sans-serif;
}