.projects {
  color: #000;
}

a,
h1,
h2,
h3,
p {
  font-family: "Open Sans",sans-serif!important;
  font-spacing: 0!important;
  letter-spacing: .01rem!important;
}

h1 {
  font-weight: 700;
}

header {
  background-color: #111;
}

header h1 {
  color: #bbb;
}

header a:hover {
  text-decoration: underline;
}

nav {
  background-color: #111;
  -webkit-box-shadow: 0 2px 2px #fff;
  box-shadow: 0 2px 2px #fff;
}

nav a {
  color: #bbb;
}

nav h3 {
  text-transform: unset;
}

nav a:hover {
  text-decoration: underline;
  color: #fff;
}

.about {
  background-color: #fff;
}

.about h1,
.about p {
  color: #000;
}

.about h1 a,
.about p a {
  text-shadow: unset;
  background-color: #fff;
  color: #0366d6;
  background-image: unset;
}

.about a:hover {
  text-decoration: underline;
}

.blogs {
  background-color: #fff;
  min-height: 100vh;
}

.blogs h1 {
  color: #000;
}

.blogs a,
.blogs h2 {
  color: #333;
  font-weight: 700;
  margin-left: 1%;
}

.blogs .sub-header {
  color: #333;
}

.blogs p {
  color: #3a4145;
}

.blogs h3 {
  margin: 0 0 2rem;
  font-family: "Open Sans",sans-serif;
}

.blogs a:hover {
  text-decoration: underline;
  color: #000;
}

.projects {
  background-color: #f0f0f0;
  min-height: 100vh;
  min-height: 100vh;
}

.projects h1 {
  color: #000;
}

.projects a,
.projects h2 {
  color: #333;
  font-weight: 700;
}

.projects .sub-header {
  color: #333;
}

.projects p {
  color: #3a4145;
}

.projects a:hover {
  text-decoration: underline;
  color: #000;
}

footer {
  background-color: #111;
  color: #3a4145;
}

footer a {
  color: #bbb;
}

footer a figcaption {
  color: #bbb;
}

footer a svg {
  fill: #bbb;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

footer a:hover figcaption {
  color: #fff;
}

footer a:hover svg {
  fill: #fff;
}

.blog {
  background-color: #fff;
  min-height: 100vh;
}

.blog h1 {
  color: #000;
}

.blog a,
.blog h2 {
  color: #333;
}

.blog .sub-header {
  color: #333;
}

.blog p {
  color: #3a4145;
}

.blog a:hover {
  text-decoration: underline;
  color: #000;
}